@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    47 Allerstrasse,<br />
    38104 Braunschweig<br />
    <abbr title="Phone">P:</abbr>
    +356 99022583
</address>

<address>
    Interested in the plants? Send an email to the <b>greenthumb</b>, Nolan - <a href="mailto:noz90@gmail.com">noz90@gmail.com</a>
    <br />
    Interested in the website? Send an email to the <b>webmaster</b>, Etienne - <a href="mailto:egalea.11@gmail.com">egalea.11@gmail.com</a>
</address>