@* full-screen page - logo *@
<div class="homepage-header-background">
    <div id="logo">
        <img src="~/Images/homepage/botanika.png">
    </div>
    <div class="space-white"></div>
</div>
<div class="row body-content">

    @* main body *@

</div>