
@{
    ViewBag.Title = "Monitoring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="pine-header">
    <div class="pine-header-fill">
    </div>
</div>
<div class="row body-content">
    @* main content *@
</div>