
@{
    ViewBag.Title = "Monitoring";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <img class="pine-header-fill" src="~/Images/monitoring/pine_cover.jpg"/>
    <a href="#login" type="button" class="scroll-down"> </a>
</div>

<div class="row body-content">
    <a name="login"></a>
    log in div
    @* main content *@
</div>