body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 3%;
    margin-right: 3%;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* --- _layout --- */
.homepage-fullscreen-background{
    background-size: inherit;
}

/* --- Plants/Index --- */
.plant-image{
    width: 250px;
    
}
@media screen and (max-width: 425px){
    .plant-image{
        background-size: cover;
        height: 120px;
        width: 100px;
    }
}
.thumb {
    margin-bottom: 30px;
}

/* --- layout/userlogin --- */
.botanika-brand{
    font-family: 'Harlow Solid';
    font-size: 30px;
    color: forestgreen!important;
    transition: 0.2s linear;
    text-shadow: 2px 2px #dcdcdc;
}
.botanika-brand:hover{
    text-shadow: -2px -2px #dcdcdc;
}
@font-face {
    font-family: 'callingangels';
    src: url('../fonts/callingangels.ttf') format('truetype');
}

@media (min-width: 768px){
    .navbar-nav > li > a{
        display: inline-block;
        vertical-align: middle;
        margin-top: 10px;
        padding: 5px 10px;
        transition: 0.2s ease-in-out;
        border: 1px solid #f8f8f8;
        border-radius: 10px;
    }
    .navbar-nav > li > a:hover{
        background-color: white!important;
        border: 1px solid #f2f2f2;
        border-radius: 10px;
    }
}
.search-field:focus {
    border: 1px solid #ccc;
    outline: none;
}
.search-field:focus{
    box-shadow: none;
}

.container {
    width: 95%;
}

.navbar-nav {
    margin-bottom: 0;
}
@media (min-width: 768px){
    .navbar-nav{
        margin-left: 40px;
    }
}
@media (min-width: 1024px){
    .navbar-nav{
        margin-left: 80px;
    }
}
.navbar-right{
    margin-right: 0;
}



/* --- monitoring --- */
.pine-header-fill{
    display: block;
    margin: auto;
    margin-top: -80px;
    width: 100%;
    transition: 0.2s ease-in-out;
}

.monitoring-content{
    background-color:rgba(0, 0, 0, 0.5);
}

button:active{
    border: none;
}

.scroll-down{
    background: url(../Images/monitoring/arrow.gif) no-repeat center center;
    display: block;
    margin: auto;
    margin-top: -3px;
    width: 5%;
    padding: 2em;
    transition: 0.1s ease-in-out;
    opacity: 0.5;
}

.scroll-down:hover {
    margin-top: 3px;
    opacity: 0.3;
}

.toggle-view{
    display: block;
    text-align: center;
    border-radius: 0px;
    border: none;
}


/* LOGIN PAGE */
.login-page{
    width: 100%;
}
.login-area{

}