body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* --- _layout --- */
.homepage-fullscreen-background{
    background-size: inherit;
}


/* --- Plants/Index --- */
.plant-image{
    width: 250px;
    
}
@media screen and (max-width: 425px){
    .plant-image{
        background-size: cover;
        height: 120px;
        width: 100px;
    }
}
.thumb {
    margin-bottom: 30px;
}

/* --- layout/userlogin --- */
@media (min-width: 768px){
    .navbar-nav > li > a{
        display: inline-block;
        vertical-align: middle;
        margin-top: 10px;
        padding: 5px 10px;
        transition: 0.5s ease;
        border-color: #f3f3f3;
        border-radius: 10px;
    }
    .navbar-nav > li > a:hover{
        background-color: white!important;
        border: 1px solid #f2f2f2;
        border-radius: 10px;
    }
}
/* --- monitoring --- */

.pine-header-fill{
    height: 100%;
}
.pine-header {
    display: block;
    position: absolute;
    background: url('../Images/monitoring/pine_cover.jpg') no-repeat center fixed;
    background-size: cover;
    width: inherit;
    height: 100%;
}
.monitoring-content{
    background-color:rgba(0, 0, 0, 0.5);
}