<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://botanikalabs.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>botanikalabs.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>botanikalabs</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$botanikalabs</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="BotanikaLabsDB" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:botanikalabs.database.windows.net,1433;Initial Catalog=botanikalabsDB;User ID=etiennegalea@botanikalabs.database.windows.net;Password=nigranouX^23" Name="Data Source=tcp:botanikalabs.database.windows.net,1433;Initial Catalog=botanikalabsDB;User Id=etiennegalea@botanikalabs.database.windows.net;Password=nigranouX^23" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BotanikaLabs.Models.ApplicationDbContext, BotanikaLabs" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BotanikaLabsDBEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:botanikalabs.database.windows.net,1433;Initial Catalog=botanikalabsDB;User ID=etiennegalea@botanikalabs.database.windows.net;Password=nigranouX^23" Name="Data Source=tcp:botanikalabs.database.windows.net,1433;Initial Catalog=botanikalabsDB;User Id=etiennegalea@botanikalabs.database.windows.net;Password=nigranouX^23" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BotanikaLabs.Models.BotanikaLabsDBEntities, BotanikaLabs" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PlantsModel" Order="3" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BotanikaLabs.Models.PlantsModel, BotanikaLabs" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BotanikaLabsDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:botanikalabs.database.windows.net,1433;Initial Catalog=botanikalabsDB;User Id=etiennegalea@botanikalabs.database.windows.net;Password=nigranouX^23</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BotanikaLabsDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.PlantModel.csdl|res://*/Models.PlantModel.ssdl|res://*/Models.PlantModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:botanikalabs.database.windows.net,1433;Initial Catalog=botanikalabsDB;User Id=etiennegalea@botanikalabs.database.windows.net;Password=nigranouX^23"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PlantsModel-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="BotanikaLabsDB" />
  </ItemGroup>
</Project>